<%- include('./partials/header.ejs'); %>
<body>
    <h2>Welcome from Search employee page</h2>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <form class="d-flex" action="search" method="post">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="e_email">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </nav>
</body>
</html>