body {
    background-color: antiquewhite;
    overflow: hidden;
}

.card {
    height: 450px;
    width: 370px;
    background-color: rgb(137, 250, 232);
    float: left;
    margin-left: 50px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    color: rgb(240, 26, 160);
    text-align: center;
}

#footer {
    height: 50px;
    width: 100%;
    background: rgb(232, 61, 27);
    margin-top: 500px;
    text-align: center;
    color: aliceblue;
}