<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="./css/app.css">
    <link rel="icon" href="./images/favicon.ico" type="image/x-icon">
</head>

<body>
    <nav>
    </nav>
    <main>
    </main>
    <footer>
        <p id="copyright">Copywrite @copy by Peng Liu. All Rights Reserved.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>
