<%- include('./partials/header.ejs') -%>

  <body>
    <%- include('./partials/navbar.ejs') -%>
      <h2 class="title">Login</h2>
      <form action="/login" method="POST" id="login" class="shadow p-3 mb-5 bg-body rounded">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="username" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>

        <div class="text-center">
          <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      <%- include('./partials/footer.ejs') -%>
  </body>

  </html>