<%- include('./partials/header.ejs') -%>

  <body>
    <%- include('./partials/navbar.ejs') -%>
      <h2 class="title">Logout</h2>
      <form action="/logout" method="POST" id="logout" class="shadow p-3 mb-5 bg-body rounded text-center ">
        <button class="btn btn-danger col-sm-6">Logout</button> 
      </form>
      <%- include('./partials/footer.ejs') -%>
  </body>

  </html>