<%- include('./partials/header.ejs') -%>

  <body>
    <%- include('./partials/navbar.ejs') -%>
      <h2 class="title">Login</h2>
      <form id="login" class="shadow p-3 mb-5 bg-body rounded">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" required>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="agreement">
          <label class="form-check-label" for="exampleCheck1">Keep me login</label>
        </div>

        <div class="text-center">
          <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      <%- include('./partials/footer.ejs') -%>
  </body>

  </html>