<%- include('./partials/header.ejs') -%>
<body>
    <%- include('./partials/navbar.ejs') -%>
    <h2>Welcome From home page</h2>
    <div class="card"><img src="images/img1.jpg"></div>
    <div class="card"><img src="images/img2.jpg"></div>
    <div class="card"><img src="images/img3.jpg"></div>

    <%- include('./partials/footer.ejs') -%>
</body>
</html>