html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Space Grotesk", sans-serif;
    color: black;
    text-align: center;
}

main {
    width: 300px;
    margin: 0 auto;
}

footer {
   position: fixed; 
   bottom: 0;
   left: 0;
   right: 0;
}

label {
    float: left;
    width: 50px;
    text-align: left;
}

.row {
    margin: 10px auto;
}

